@media (max-width: 500px) {
  :root {
    --card-width: 310px;
    --column-gap: 40px;
    --table-padding-x: 60px;
    --table-padding-y: 100px;
  }
  .card-name {
    font-size: 0.8rem;
    padding: 8px 10px 24px 10px;
  }
  .card-name small {
    font-size: 0.6rem;
  }
  .card-desc p {
    font-size: 0.72rem;
  }
  .blog-name h3,
  .devlog-name h3 {
    font-size: 0.75rem;
  }
}
